h3 {
  text-align: center;
}
#five-pound-voucher, #ten-pound-voucher, #fifteen-pound-voucher {
  margin: 5px;
  width: 100%;
  text-align: center;
}

#error-message {
  width: 100%;
  text-align: center;
  color: red;
}

#sub-total {
  padding-top: 10px;
}

#shopping-basket {
  padding-left: 0px;
  list-style-type: none;
}

#shopping-basket-container {
  border: solid;
  border-color: #5bc0de;
}

#basket-total {
  padding-top: 50px;
}

.basket-item, .remove-basket-item, .basket-price {
  display: inline-block;
  padding: 2px;
}

.item-panel {
  list-style-type: none;
}

.vouchers {
  list-style-type: none;
  padding-left: 0px;
}

.totals {
  list-style-type: none;
  padding-right: 0px;
}