h3 {
  text-align: center;
}
#five-pound-voucher {
  width: 100%;
  text-align: center;
}

#error-message {
  width: 100%;
  text-align: center;
  color: red;
}

#sub-total {
  padding-top: 10px;
}

#shopping-basket {
  padding-left: 0px;
  list-style-type: none;
}

.basket-item, .remove-basket-item, .basket-price {
  display: inline-block;
  padding: 2px;
}

.item-panel {
  list-style-type: none;
}

.shop-item {
}